* {
	box-sizing: border-box;
  padding:0;
  margin: 0;
}

h1 {
	margin-bottom: 20px;
  text-align: center;
}

.section {
  position: relative;
  padding: 10px;
}

.section-title {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid red;
  padding: 5px 40px;
}

.section-title.chicken {
  background-color: #f17f7f;
}

.section-title.beef {
  background-color: #bb2828;
}

.section-title.sushi {
  background-color: #d2a055;
}

.section-inner {
  border: 1px solid red;
  padding: 10px;
  background-color: #191970;
}

.row {
width: 100%;
padding: 0 10px;
}
  
p {
  width: 100%;
  height: 250px;
  padding: 2px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  font-family: Arial, Helvetica;
  color: white;
}

@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;

  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .col-mv-1, .col-mv-2, .col-mv-3, .col-mv-4, .col-mv-5, .col-mv-6, .col-mv-7, .col-mv, .col-mv-9, .col-mv-10, .col-mv-11, .col-mv-12 {
    float: left;
  }
  .col-mv-1 {
    width: 8.33%;
  }
  .col-mv-2 {
    width: 16.66%;
  }
  .col-mv-3 {
    width: 25%;
  }
  .col-mv-4 {
    width: 33.33%;
  }
  .col-mv-5 {
    width: 41.66%;
  }
  .col-mv-6 {
    width: 50%;
  }
  .col-mv-7 {
    width: 58.33%;
  }
  .col-mv-8 {
    width: 66.66%;
  }
  .col-mv-9 {
    width: 74.99%;
  }
  .col-mv-10 {
    width: 83.33%;
  }
  .col-mv-11 {
    width: 91.66%;
  }
  .col-mv-12 {
    width: 100%;
  }
}
